@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "LemonMilk";
  src: url(../../fonts/LemonMilk.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #001427;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10vh 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wave {
  position: absolute;
  width: 100%;
  height: 30%;
  background: url(../images/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
}

.wave1 {
  opacity: 0.7;
  transform: translate(210px, 0px) scale(1);
}

.wave2 {
  opacity: 0.5;
  transform: translate(-70px, 0px) scaleX(1.2);
}

/* 
.wave1 {
    animation: waveAnimation 30s linear infinite;
}

.wave2 {
    animation: waveAnimation2 40s linear infinite;
} */

@keyframes waveAnimation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1300px;
  }
}

@keyframes waveAnimation2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1300px;
  }
}

.profile-title {
  background: #292a45;
  padding: 10px 40px;
  border-radius: 20px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 4px 3px 0px rgba(254, 188, 47, 1),
    5px 5px 8px rgba(254, 188, 47, 0.3), 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-left: -300px;
  margin-bottom: -10px;

  transform: skewX(-10deg);
  animation: animate 1s ease-in-out forwards;

  display: flex;
  flex-direction: column;

  z-index: 2;
}

/* @keyframes animate {
  from {
    transform: skewX(-10deg) translateX(150%);
    opacity: 0;
  }
  to {
    transform: skewX(-10deg) translateX(0%);
    opacity: 1;
  }
} */

.profile-name {
  text-transform: uppercase;
  font-size: 26px;
  /* font-style: italic; */
  margin-right: 30px;
  color: #ffc833;
  text-shadow: 0px 0px 8px rgba(254, 188, 47, 0.3);
}

.profile-overview {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  /* font-style: italic; */
  color: #acacac;

  align-self: flex-end;
}

.profile-bigger-box {
  background: #292a45;
  padding: 30px 35px 25px;
  width: auto;
  height: 340px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  z-index: 1;
}

.profile-component {
  min-width: 370px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile-subtitle {
  color: #acacac;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-style: italic;
}

.profile-box {
  background: #151525;
  font-size: 13px;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: default;

  display: flex;
  align-items: center;
}

.profile-sex-age {
  min-width: 370px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.profile-sex-age > div {
  min-width: 120px;
}

.profile-age {
  margin-left: 20px;
}

.button-box {
  background: #292a45;
  padding: 15px 35px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.log-out {
  /* border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; */
  margin-top: 25px;
  /* box-shadow: 4px 4px 0px rgba(252, 59, 59, 1), 0px 0px 15px rgba(0, 0, 0, 0.6);
  transform: skewX(-10deg); */
}

.button-box-text {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #acacac;
  margin-bottom: 10px;
}

.log-out .button-box-text {
  color: #fc3b3b;
  font-weight: 700;
}

.profile-button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 370px;
  height: 35px;
  background: #8872ff;
  box-shadow: 0px 0px 15px rgba(136, 114, 252, 0.4);
  border-radius: 20px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  cursor: pointer;

  transition: 0.5s;

  display: grid;
  place-items: center;
}

.log-out-button {
  background: transparent;
  border: 1px solid #fc3b3b;
  min-width: 220px;
  /* box-shadow: 0px 0px 15px rgba(252, 59, 59, 0.4); */
  box-shadow: none;
  color: #fc3b3b;
}

.password-button:hover {
  background: #ffc833;
  box-shadow: 0px 0px 15px rgba(254, 188, 47, 0.4);
}

.log-out-button:hover {
  background: #fc3b3b;
  box-shadow: 0px 0px 15px rgba(252, 59, 59, 0.4);
  color: #292a45;
  font-weight: 700;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(4, 0, 27, 0.85);

  z-index: 30;
}

.modal-box {
  width: 450px;
  min-height: 160px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #2a2c42;
  border-radius: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  padding: 25px 0px 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #ff3b3b;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.2s;
}

.modal-close:hover {
  transform: scale(1.3) rotate(45deg);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.modal-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.buttons {
  width: 100%;
  height: 80px;
  background: #212238;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  outline: none;
  width: 130px;
  height: 40px;
  color: #292a45;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;

  transition: 0.3s;

  display: grid;
  place-items: center;
}

.yes-password {
  border: none;
  background: #8872ff;
  margin-right: 10px;
}

.no-password {
  border: 1px solid #fc3b3b;
  color: #fc3b3b;
  background: transparent;
  margin-left: 10px;
}

.yes-password:hover {
  box-shadow: 0px 0px 15px rgba(136, 114, 252, 0.4);
}

.no-password:hover {
  background: #fc3b3b;
  color: #292a45;
  box-shadow: 0px 0px 15px rgba(252, 59, 59, 0.5);
}

.modal-check .modal-box {
  justify-content: center;
  padding: 0;
}

.modal-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #acacac;
  text-align: center;
}

.modal-leave .modal-box {
  min-height: 220px;
}

.yes-leave {
  border: 1px solid #fc3b3b;
  color: #fc3b3b;
  background: transparent;
  margin-right: 10px;
}

.no-leave {
  border: 1px solid #acacac;
  background: transparent;
  margin-left: 10px;
  color: #acacac;
}

.no-leave:hover {
  background: #151525;
  color: #292a45;
  border: 1px solid #151525;
}

.yes-leave:hover {
  background: #fc3b3b;
  color: #292a45;
  box-shadow: 0px 0px 15px rgba(252, 59, 59, 0.5);
}

@media (max-width: 1024px) {
  .wave {
    height: 40vh;
  }

  .wave2 {
    transform: translateX(-300px);
  }
}

@media (max-width: 616px) {
  .profile-title {
    margin-left: 0;
  }

  .button-box {
    margin-right: 0;
    margin-top: 20px;
  }

  .wave {
    display: none;
  }
}

@media (max-width: 500px) {
  .wave2 {
    transform: translateX(-100px);
  }

  .profile-title {
    margin-bottom: -10px;
  }

  .profile-name {
    margin-right: 20px;
  }

  .profile-bigger-box {
    height: 360px;
    padding: 30px 30px 10px;
  }

  .profile-component,
  .profile-sex-age {
    min-width: 290px;
  }

  .profile-subtitle {
    font-size: 15px;
  }

  .profile-box {
    padding: 20px 20px;
  }

  .button-box {
    padding: 15px 25px 25px;
  }

  .password-button {
    min-width: 240px;
  }

  .log-out-button {
    min-width: 180px;
  }

  .wave {
    display: none;
  }
}

@media (max-width: 370px) {
  .profile-title {
    padding: 10px 25px;
  }

  .profile-bigger-box {
    padding: 30px 20px 10px;
  }

  .profile-component,
  .profile-sex-age {
    min-width: 250px;
  }

  .profile-sex-age > div {
    min-width: 100px;
  }
}
/* 
@media (max-height: 712px) {
  .content {
    height: auto;
    padding: 30px 0px;
  }
} */
